.page--product {
	margin-top: 5em; 
}

.page-header {
	padding: 1em 0; 
	height: 1.55em; 
	position: fixed; 
	width: 100%; 
	top: 0; 
	background: #fff; 
	border-bottom: 1px solid @color-border;
	z-index: 999; 
}