.page-header {
	padding: 1em 0; 
	height: 1.55em; 
	width: 100%; 
	top: 0; 
	background: @color-header-background; 
	border-bottom: 1px solid darken(@color-header-background, 25%);
	z-index: 999; 
	margin-bottom: 1em; 
}

@media(min-width: @screen-m) {
	.page-header {
		padding: 1.5em 0;
		margin-bottom: 3em;
	}
}