.page--product {
	border-top: 3em solid @color-body-background; 
}

.page-header {
	padding: .5em 0; 
	height: 1.55em; 
	position: fixed; 
	width: 100%; 
	top: 0; 
	background: @color-header-background; 
	border-bottom: 3px solid darken(@color-header-background, 10%);
	z-index: 999; 
}

@media(min-width: @screen-m) {

	.page--product {
		border-top-width: 5em; 
	}

	.page-header {
		padding: 1em 0; 
	}
}