.product-teaser {

	text-align: center;
	padding-bottom: 2em;

	a {
		color: @color-text; 
		display: block;
		text-decoration: none;
	}

	h2 {
		font-weight: 400; 
		font-size: 2.3em; 
		margin: .5em 0 .2em 0;
	} 

	.img-container {
		overflow: hidden; 
		position: relative;
		display: block; 
	}

	.img-container:after {
		position: absolute;
		top: 0;
		left: 0; 
		bottom: 0; 
		right: 0; 
		background-color: @color-text; 
		opacity: .1; 
		content: "";
		display: block; 
		transition: all 300ms ease-in-out; 
	}

	a:hover .img-container:after {
		opacity: 0;
	}

}

@media(min-width: @screen-xs) {

	.product-teasers {
		margin-left: -.5em;
		margin-right: -.5em;
	}

	.product-teaser {
		width: 33.333333333333%;
		display: inline-block;
		box-sizing: border-box;
		padding-left: .5em;
		padding-right: .5em;		
	}

	.product-teaser h2 {
		font-size: 1.8em; 
	}

}

@media(min-width: @screen-m) {
	.product-teasers {
		margin-left: -1em;
		margin-right: -1em;		
	}

	.product-teaser {
		padding-left: 1em;
		padding-right: 1em;
	}	
}

