.page--product .container {
	max-width: 55em;
}

.product-title {
	font-size: 2.5em; 
	font-weight: 200;
	margin-bottom: .25em;
	margin-top: .5em;
}

.product-price {
	font-size: 1.3em;
	font-weight: 200; 
} 

.btn-row {
	padding-top: 1.5em;
}

.product-facts {
	margin-bottom: 2.5em; 
	color: lighten(@color-text, 10%); 
}

@media(min-width: @screen-m) {
	.product-facts {
		font-size: 1.2em;
	}

	.product-title {
		margin-top: 1em
	}
}