.page--product .container {
	max-width: 55em;
}

.product-title {
	font-size: 2em; 
	font-weight: 200; 
}

@media(min-width: @screen-m) {
	.product-title {
		font-size: 3em;
	}
}

.product-price {
	font-size: 1.25em;
	font-weight: 200; 
} 

.btn-row {
	padding-top: 1.5em;
}

.product-information {
	padding-top: 2em;
	margin-top: 2em; 
	border-top: 1px solid @color-border;
}