.page--product .container {
	max-width: 55em;
}

.product {
	font-size: 1.1875em;
}

.product-images {
	margin-bottom: 2em;
}

.product-image {
	margin-bottom: 1em;
}

.product-title {
	font-size: 2.2em; 
	font-weight: 200;
	margin: 0 0 .25em 0;
}

.product-price {
	background-color: #000; 
	color: #fff; 
	display: inline-block;
	font-size: 1em;
	margin: 0;
	padding: .15em .5em; 
	font-weight: 200; 
} 

.price-unit {
	font-size: .75em;
	text-transform: uppercase;
}

.product-facts {
	margin-bottom: 2em; 
	color: lighten(@color-text, 10%); 
	font-size: 1em;
}

.product-information {
	line-height: 1.5;
	margin-bottom: 2em;
}

.share {
	width: 2.4em; 
	height: 2.4em;
	display: block;
	text-indent: -9999px;
	border-radius: 50%;	
	background: @color-text no-repeat center center;
	transition: background-color 200ms ease-in-out;
}

.share--facebook {
	background-image: data-uri("../graphics/facebook.svg");
	background-size: 1.3em 1.3em;

	&:hover, &:focus {
		background-color: darken(#3b5998, 2%);
	}
}

.share--twitter {
	background-image: data-uri("../graphics/twitter.svg");
	background-size: 1.3em 1.3em;

	&:hover, &:focus {
		background-color: darken(#55acee, 15%);
	} 
}

.share--pinterest {
	background-image: data-uri("../graphics/pinterest.svg");
	background-size: 1.3em 1.3em;

	&:hover, &:focus {
		background-color: darken(#bd081c, 2%);
	}
}

.product {
	padding-bottom: 2em;
}

.product-image-stage {
	margin-bottom: 1em;
}

.btn-thumbnail {
	display: inline-block;
	padding: 0; 
	width: 3em;
	height: 3em;
	margin-right: 1em;
	transform: scale(1);
	transition: transform 200ms ease-in-out; 

	&:focus, &:active, &.btn-thumbnail--active:focus {
		.focus;
	}
}

.btn-thumbnail--active {
	transform: scale(1.1);
	box-shadow: 0 0 0 2px @color-border;
}

@media(min-width: @screen-xs) {
	.product-title {
		font-size: 2.5em;
	}

	.product-price {
		font-size: 1.25em;
	}
}

@media(min-width: @screen-s) {
	.product-title {
		font-size: 3em;
	}

	.btn-thumbnail {
		width: 4em;
		height: 4em;
	}		
}

@media(min-width: @screen-m) {
	.product-images, .product-details {
		display: inline-block;
		width: 50%; 
		vertical-align: top;
		box-sizing: border-box;
	}

	.product-images {
		padding-right: 1em;
	}

	.product-details {
		padding-left: 1em;
	}

	.product-title {
		font-size: 3.2em;
	}

	.product-information {
		margin-bottom: 2em;
	}

	.btn-thumbnail {
		width: 4.5em;
		height: 4.5em;
	}	
}