body {
	background-color: @color-footer-background;
}

.footer {
	padding-top: 1em; 
	padding-bottom: 3em; 
	border-top: 1px solid @color-border; 
	background-color: @color-footer-background; 
	text-align: center;
}