body {
	background-color: @color-footer-background;
}

.footer {
	padding-top: 4em; 
	padding-bottom: 4em; 
	border-top: 1px solid darken(@color-footer-background, 10%); 
	background-color: @color-footer-background; 
	text-align: center;
}

.form-newsletter {

	padding-bottom: 3em;

	.input-text {
		margin-right: .5em;
		margin-bottom: .5em;
		width: 10em;
		max-width: 100%; 
	}

}

.pills--footer {
	font-size: .85em;

	a {
		color: lighten(@color-text, 20%);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline; 
	}
}

.pills {
	list-style-type: none;
	margin: 0;

	li {
		margin: 0; 
		padding: 0;
		display: inline-block;
		margin-right: 1em;
	}

	li:last-child {
		margin-right: 0;
	}
}