body {
	background-color: @color-footer-background;
}

.footer {
	padding-top: 4em; 
	padding-bottom: 4em; 
	border-top: 1px solid darken(@color-footer-background, 10%); 
	background-color: @color-footer-background; 
	text-align: center;
}

.form-newsletter {
	padding-bottom: 3em;
}

.input-newsletter-email {
	margin-bottom: .5em;
	width: 100%;
	max-width: 15em; 
	box-sizing: border-box;
}

.pills--footer {
	font-size: 1em;

	a {
		color: lighten(@color-text, 20%);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline; 
	}
}

@media(min-width: @screen-s) {
	.input-newsletter-email {
		margin-right: .5em;
	}
}