// Grid
@grid-width: 1200;
@grid-gutter-width: 40;

@base-line: 1.65em; 

// Typography

@font-family-base: 'Molengo', sans-serif;
@font-family-controls: @font-family-base;

// Buttons
@font-size-btn-normal: 1em; 

// color: 
@color-body-background: #ffffff; 
@color-text: #231f20; 
@color-link: blue; 
@color-well-background: #d2dede;
@color-footer-background: darken(@color-body-background, 5%);
@color-border: darken(@color-body-background, 25%);
@color-header-background: @color-body-background;
@color-focus: orange;

// Media Queries
@em-size: 19.2em;
@screen-xs: 320px; 
@screen-s: 375px; 
@screen-m: 768px; 
@screen-l: 1024px; 

.focus {
	outline: none;
	box-shadow: 0 0 0 3px @color-focus; 
}